body {
	font-size: 16px/1.6;
	/* the 1.6 is the line height*/
	font-family: "Times New Roman", serif;
	/* sans serif is default so u need to tell browser*/
	background-color: #F3EBE9;
}

#container{
	width: 960px;
	margin: 20px auto;
	/*says top and bottom 10px and left and right auto, means that it centers is horizontally*/
	background-color: white;
	padding: 20px;
}

h1 {
	text-transform: uppercase;
	color: #656565;
	font-family: "Helvetica", sans-serif;
	font-weight: lighter;
}

img {
	border: 3px #CCCCCC solid;
}

a img {
	padding: 1px;
}

a {
	text-decoration: none;
}